.Homepage {
  display: flex;

  &__btn {
    height: 30px;
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: transparent;
    border: none;
    &:hover,
    &:active {
      color: #000;
      font-weight: 500;
    }
  }
  &__dashboard {
    padding: 10px 0;
  }
}
